<html>
<head>
    <title>About</title>
</head>
<body>
    <h1>About</h1>

    <body>
    Stuff-N-Things Inc. was founded in 2016. It's main services include comic book-related databases, <br/>software engineering,
    hackers for hire, Illuminati conspiracy blogs, and space shuttle design.
    </body>
    <h2>About the founder</h2>
    <body>
    The company was founded by Sean Cullen, also known as "The genius of the 21st century". <br/>He created flying cars,
    cured cancer, and became the world's richest man before his 18th <br/>birthday. One day, while in the middle of setting
    the new world record for most weight <br/>bench-pressed, he decided it was time to do something with his life.
    So he put down the bar <br/>and founded his own company.
    </body>
    <h3>Contact Information</h3>
    <body>
    Sean Cullen<br/>
    2468 Rich Person Dr.<br/>
    Money City, TX 73846<br/>
    Phone: (987)654-3210 <br/>
    Email: imprettyawesome@seancullen.com<br/>
    </body>
    <br />
    <img src="/images/erdiagram.jpg"/>
    <img src="/images/RelationalSchema.jpg"/>
    <br/>
    <a href="/">Back to Comic Book Table</a>
</body>

</html>