<html>
<head>
    <title>Add New Planet</title>
</head>
<body>
    <h1>Add New Planet</h1>
    <form action="/planet/insert" method="get">
        Planet Name: <input id="planet_name" name="planet_name" type="text" />
        <br />
        <input type="submit" />

    </form>
    <br/>
    <a href="/planet/all">Back to Planets</a>
</body>

</html>