<html>
<head>
    <title>Add New Comic</title>
</head>
<body>
    <h1>Add New Comic</h1>
    <form action="/Comic/insert" method="get">
        Brand Name: <input id="brand_name" name="brand_name" type="text" />
        <br />
        Year Founded: <input id="year_founded" name="year_founded" type="text" />
        <br />
        <input type="submit" />

    </form>
    <br/>
    <a href="/comic/all">Back to Comics</a>
</body>

</html>