<html>
<head>
    <title>Add New Superhero</title>
</head>
<body>
    <h1>Add New Superhero</h1>
    <form action="/superhero/insert" method="get">
        Superhero Name: <input id="super_name" name="super_name" type="text" />
        <br />
        Secret Identity: <input id="secret_identity" name="secret_identity" type="text" />
        <br /><br/>
        Weakness: <input id="weakness" name="weakness" type="text" />
        <br /><br/>
        Superpower: <input id="superpower" name="superpower" type="text" />
        <br /><br/>
        Love Interest: <input id="love_interest" name="love_interest" type="text" />
        <br /><br/>
        Gender: <input id="gender" name="gender" type="text" />
        <br /><br/>
        Sidekick: <input id="sidekick" name="sidekick" type="text" />
        <br /><br/>
        Cape? (yes/no): <input id="cape" name="cape" type="text" />
        <br /><br/>
        <input type="submit" />

    </form>
    <br/>
    <a href="/superhero/all">Back to Superheroes</a>
</body>

</html>