<html>
<head>
    <title>Add New Supervillain</title>
</head>
<body>
    <h1>Add New Supervillain</h1>
    <form action="/supervillain/insert" method="get">
        Supervillain Name: <input id="villain_name" name="villain_name" type="text" />
        <br />
        Secret Identity: <input id="secret_identity" name="secret_identity" type="text" />
        <br />
        Gender: <input id="gender" name="gender" type="text" />
        <br />
        Superpower: <input id="superpower" name="superpower" type="text" />
        <br />
        Cape: <input id="cape" name="cape" type="text" />
        <br />

        <input type="submit" />

    </form>
    <br/>
    <a href="/supervillain/all">Back to Supervillains</a>
</body>

</html>